/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #906fc5;
  height: 100vh;
}
.img {
  max-width: 100%;
  transition: all 0.3s ease-out 0s;
}

/* top-area */
.top-content {
  text-align: center;
  margin-top: 55px;
}
.top-content a {
  color: #fff;
  padding: 5px 17px;
  background: #5f3a97;
  border-radius: 23px;
}

.carousel-item img {
  padding: 30px 0;
  width: 100%;
  border-radius: 100%;
}
.top-content h2 {
  color: #e4d1ff;
  font-size: 90px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-top: 24px;
}
.top-content h3 {
  margin: 20px;
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .top-content {
    margin-top: 12px;
  }
  .top-content h2 {
    font-size: 24px;
    line-height: 6px;
  }
  .top-content h3 {
    margin-top: 15px;
    margin-bottom: 7px;
  }
}
